/**
 * @name Cool Summer Nights.
 * @description The official Untitled Ham Theme.
 * @author Untitled Ham
 * @version 1.0.0
 * @authorId 278543574059057154
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 0,89,84;
  --accentcolor2: 135,134,229;
  --linkcolor: 99,160,166;
  --mentioncolor: 149,111,236;
  --textbrightest: 1,129,80;
  --textbrighter: 187,199,205;
  --textbright: 191,159,215;
  --textdark: 105,91,143;
  --textdarker: 32,95,109;
  --textdarkest: 71,61,85;
  --font: gg sans;
  --backgroundaccent: 19,13,47;
  --backgroundprimary: 5,5,31;
  --backgroundsecondary: 9,4,33;
  --backgroundsecondaryalt: 18,16,59;
  --backgroundtertiary: 5,2,29;
  --backgroundfloating: 26,20,47;
  --settingsicons: 1;
}

/* Any custom CSS below here */


